.pad0 <!--nokta koyuldugunda bu class ozelliği için kullanıyo-->
{
padding:0px;

}
.logo-yani-yazisi{
	float:left !important; <!-- hemen soluna bitimine yaz demek bundan öncekileri ökale alma bu önemli---->
	font-size:18px;
	font-weight:100;
	padding-top:5px;
	padding-right:50px;
	margin-top:6px;
}
.pad10 
{
	padding:10px;
}
.tasiyici {
    min-height: 100%;
    margin-bottom: -180px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mainbody {
    margin: 30px auto;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow:hidden;
	overflow-x: hidden;
    overflow-y: hidden;
	outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
}

}
.header {
    border: none;
    background: #4d0d64;
    z-index: 10;
    border-bottom: solid #c89c62 3px;
}
.bursgirisBlok {
    background: #d7d0be url(/images/indir.jpg) no-repeat 20% 50%;
    color: #4d0d64;
    height: 400px;
    font-weight: bold;
}
.bursgirisBlok {
    background: #d7d0be url(/images/indir.jpg) no-repeat 20% 50%;
    background-image: url(/images/indir.jpg);
    background-position-x: 20%;
    background-position-y: 50%;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(215, 208, 190);
    color: #4d0d64;
    height: 400px;
    font-weight: bold;
}

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
    background: #fff;
    color: #666;
    overflow-x: hidden;
}
.footer {
    background:  rgb(231, 231, 231);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(231, 231, 231));

	
}
.footer, .tasiyici:after {
    height: 100px;
}
.footer .row.copyright {
    padding: 10px 0px;
    color: #7c4aa3;
    border-top: solid #c89c62 2px;
	
.footer .row.menuler {
    padding: 10px auto;
    color: #fff;
}
.body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100px;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
