﻿@{
    ViewBag.Title = "Home Page";
}
<header class="navbar navbar-default navbar-transparent">
    <div class="container">
        <div class="navbar-header">
            <!--- responsive özellik-->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><!--menü butonu oluşturma akıllı telefon-->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand pad0" href="#">
                <!--başlık eetikeri-->
                <!-- <img src="images/...jpg" alt="Sinem" title="sinem" width="50px" height="50px" class="img-circle">
                projenin içine images diye dosya aç içine at onun yolunu yaz-->
            </a>
        </div>
        <span class="logo-yani-yazisi text-info ">
            <!--- hidden-xs ekleakıllı cihaz-->
            <ul> <a class="glyphicon glyphicon-education" aria-hidden="true"></a> </ul>
            <strong> BURS REHBERİM </strong>
        </span>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"> </ul>


            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <img width="25px" height="25px" src="images/tr.png" tittle="TÜRKÇE">
                    </a>
                </li>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">
                            <img width="25px" height="25px" src="images/eng.png" tittle="ENGLISH">
                        </a>
                    </li>
                </ul>
            </ul>

            <ul class="nav navbar-nav navbar-right pad10">
                <li>
                    <button type="button" class="btn btn-info btn-mm"> <span class="glyphicon glyphicon-user"></span> ÜYE OL</button>
                </li>
                <button type="button" class="btn btn-info btn-mm"> <span class="glyphicon glyphicon-log-in"></span> GİRİŞ</button> </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</header>


<div class="bursgirisBlok">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-7 col-sm-9 col-sm-offset-3 text-center">
                <div class="overlay"></div>
                <div class="text1">TÜM ÜNİVERSİTE ÖĞRENCİLERİNE</div>
                <div class="text2">BURS FIRSATI</div>
                <span class="text3">(LİSANS)</span>
                <div class="clearfix"></div>
                <a class="btn btn-warning btn-lg" href="#">BURS AL</a>
                <a class="btn btn-warning btn-lg" href="#">BURS VER</a>
            </div>
        </div>
    </div>
</div>

<div class="container">


    <div class="col-md-6">
        <h1 class="baslik">BURS REHBERİM NEDİR?</h1>
        <p>
            Bursrehberim.com, burs arayanların ve burs verenlerin buluştuğu ve ücretsiz olarak faydalandığı bir dijital platformdur.
            Siz de bursrehberim.com üyesi olun, burs vermek için sizleri bekleyen on binlerce kişiye, binlerce vakıf, dernek, kurum ve kuruluşa hızlı ve kolay yoldan ulaşın.
        </p>
        <a class="btn btn-default" href="#">DETAYLI BİLGİ <i class="fa fa-chevron-right"></i></a>
        <br /><br />
    </div>
    <div class="col-md-6">
        <a href="#">
            <img class="img-responsive" src="images/resim.jpg" alt="RESim" width="100%" />
        </a>
    </div>

</div>
    

<footer>
    <!-- FOOTER KISMI-->
    <div class="footer">

        <div class="row menuler">
            <div class="col-sm-3">
                <ul>
                    <li><a href="^#"><i class="fa fa-chevron-right"></i> Bize Ulaşın</a></li>

                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li><a href="#"><i class="fa fa-chevron-right"></i> Burs Almak İstiyorum</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i> Burs Vermek İstiyorum</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li><a href="#"><i class="fa fa-chevron-right"></i> Sık Sorulan Sorular</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul>
                    <li><a href="#"><i class="fa fa-chevron-right"></i> Kullanıcı Sözleşmesi</a></li>
                    <li><a href="#"><i class="fa fa-chevron-right"></i> Gizlilik Politikası</a></li>
                </ul>
            </div>
        </div>
        <div class="row copyright">
            <div class="col-sm-7">Copyright © 2016 bursrehberim.com | Tüm hakları saklıdır.</div>
            <div class="col-sm-3 col-xs-6"></div>
            <div class="col-sm-2 col-xs-6 text-right">
                <a href="#" target="_blank" title="OKYAZILIM Web tasarım ve programlama hizmeti">
                    <img src="#" alt="OKYAZILIM Web tasarım ve programlama hizmeti">
                </a>
            </div>
        </div>
    </div>
</footer>